<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         Predict handwritten digits 
      </TITLE>
   </HEAD>
<BODY>
   <H1>Predict handwritten digits</H1>
   <P>A handwritten example image of a digit is shown below.</P>
   <P><img src="{{ url_for('static',filename="4.jpg")}}"></P>
   <P>The value of the digit that can be predicted using a Deep Learning model.</P>
   <P>POST example using curl:</P>
   <P>curl -F file=@app/app/static/4.jpg -X POST 'http://127.0.0.1/api/predictlabel'</P>
   <P>{
         "most_probable_label": "4", 
         "predictions": [
           {
             "label": "0", 
             "probability": "8.55888e-09"
           }, 
           {
             "label": "1", 
             "probability": "1.952776e-05"
           }, 
           {
             "label": "2", 
             "probability": "1.6258126e-06"
           }, 
           {
             "label": "3", 
             "probability": "6.6119924e-07"
           }, 
           {
             "label": "4", 
             "probability": "0.9931753"
           }, 
           {
             "label": "5", 
             "probability": "8.9275824e-07"
           }, 
           {
             "label": "6", 
             "probability": "3.894695e-06"
           }, 
           {
             "label": "7", 
             "probability": "0.0067486116"
           }, 
           {
             "label": "8", 
             "probability": "9.569092e-06"
           }, 
           {
             "label": "9", 
             "probability": "3.984138e-05"
           }
         ], 
         "success": true
       }</P>
</BODY>
</HTML>
